.letterbox {
    border: 3px solid #fff;
    border-radius: 0.5em;
    padding: 1.2em;
    margin: 0.2em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    justify-content: center;
}

.letterrow {
    display: flex;
}

.green {
    background-color: green;
}

.yellow {
    background-color: rgb(255, 119, 0);
}